<div class="container">
  <div class="row justify-content-center my-3">
    <div *ngIf="viewingDetails" class="col-md-2 mt-3">
      <button
        (click)="hideDetails()"
        class="btn btn-warning btn-block text-left"
      >
        <h4 class="mb-0">&larr;</h4>
      </button>
    </div>
    <div class="col-md-10">
      <h1 class="display-4 text-center">The Marvelous Shop 2.0</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 mb-3">
      <ul class="list-group">
        <button class="list-group-item list-group-item-action">
          Eletrônicos
        </button>
        <button class="list-group-item list-group-item-action">Comida</button>
        <button class="list-group-item list-group-item-action">
          Eletrodomésticos
        </button>
        <button class="list-group-item list-group-item-action">Game</button>
      </ul>
    </div>
    <div class="col-md-10">
      <div *ngIf="!viewingDetails" class="row no-gutters">
        <div *ngFor="let product of shop.products" class="col-md-4 px-1 pb-2">
          <div class="card">
            <img
              src="http://lorempixel.com/400/200"
              alt=""
              class="card-img-top"
              (click)="showDetails(product)"
              style="cursor: pointer"
            />
            <div class="card-body position-relative clearfix">
              <h5
                class="card-title"
                (click)="showDetails(product)"
                style="cursor:pointer"
              >
                {{ product.name }}
              </h5>
              <p class="card-text">
                {{ product.shortDescription }}
              </p>
              <div class="float-left">
                <h3 class="mb-0">
                  <i style="color: green"
                    >$ {{ product.correctedPrice().toFixed(2) }}</i
                  >
                </h3>
                <small *ngIf="product.discount > 0" class="text-muted">
                  From: ${{ product.price.toFixed(2) }}
                  <strong style="color: green">
                    (-{{ product.discount }}%)
                  </strong>
                </small>
              </div>
              <div class="position-absolute" style="bottom: 20px; right: 20px;">
                <button
                  (click)="selectProduct(product)"
                  type="button"
                  data-toggle="modal"
                  data-target="#modal"
                  class="btn btn-outline-warning mr-2"
                >
                  Cart
                </button>
                <button class="btn btn-success">BUY</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="viewingDetails" class="container">
        <app-product [product]="selectedProduct"></app-product>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ selectedProduct.name }}
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Quantity
              </span>
            </div>
            <input
              [(ngModel)]="selectedProduct.amount"
              name="productAmount"
              type="number"
              class="form-control"
              min="1"
              value="1"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          (click)="shop.addToCart(selectedProduct, selectedProduct.amount)"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
