<div class="row justify-content-center my-3">
  <div class="col-md-12">
    <h1 class="display-4 text-center">The Marvelous Shop 2.0</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <button class="list-group-item list-group-item-action"></button>
        <button class="list-group-item list-group-item-action">Item 1</button>
        <button class="list-group-item list-group-item-action">Item 1</button>
        <button class="list-group-item list-group-item-action">Game</button>
      </ul>
    </div>
    <div class="col-md-10">
      <ul class="p-0">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-2">
              <img
                style="width: 100px; height: 75px"
                src="../../assets/placeholder.jpg"
                class="card-img"
                alt=""
              />
            </div>
          </div>
        </div>

        <!--<li class="list-group-item p-2">
          <div class="row no-gutters">
            <img class="float-left" src="../../assets/placeholder.jpg" />
            <h4 class="ml-4 d-inline align-top">Item</h4>
            <p class="mb-0 text-muted" style="margin-left: 120px;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              sapien felis, tempus vitae mattis vitae, efficitur quis elit. Sed
              magna nisi, fringilla ac varius et, euismod eu dolor.
            </p>
            <button class="btn btn-success position-static float-right">
              Buy
            </button>
          </div>
        </li>-->
      </ul>
    </div>
  </div>
</div>
