<div class="row justify-content-center my-3">
  <div class="col-md-12">
    <h1 class="display-4 text-center">The Marvelous Shop 2.0</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group">
        <button class="list-group-item list-group-item-action"></button>
        <button class="list-group-item list-group-item-action">Item 1</button>
        <button class="list-group-item list-group-item-action">Item 1</button>
        <button class="list-group-item list-group-item-action">Game</button>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="row no-gutters">
        <div *ngFor="let item of items" class="col-md-4 p-1">
          <div class="card">
            <img
              src="http://lorempixel.com/400/200"
              alt=""
              class="card-img-top"
            />
            <div class="card-body position-relative">
              <h5 class="card-title">{{ item.product }}</h5>
              <p class="card-text">
                {{ item.description }}
              </p>
              <div class="float-left">
                <h3 class="mb-0">
                  <i style="color: green">$ {{ item.correctPrice }}</i>
                </h3>
                <small *ngIf="item.discount > 0" class="text-muted"
                  >From: ${{ item.price
                  }}<strong style="color: green"
                    >(-{{ item.discount }}%)</strong
                  ></small
                >
              </div>
              <div class="position-absolute" style="bottom: 20px; right: 20px;">
                <button class="btn btn-outline-warning mr-2">Cart</button>
                <button class="btn btn-danger">BUY</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
