<div class="row justify-content-center">
  <div class="col-md-12 text-center my-3">
    <h1 class="display-4">The Ultrageous Game 9000</h1>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <h4 class="">NUMBER: {{ this.game.number }}</h4>
  </div>
</div>

<div class="row mb-5 justify-content-center">
  <div class="col-md-10">
    <ul class="list-group">
      <app-game-producer
        *ngFor="let i of generateArray(5)"
        [tier]="i"
      ></app-game-producer>
    </ul>
  </div>
</div>
