<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of shop.cart">
            <th><img src="http://lorempixel.com/100/50" alt="" /></th>
            <td class="align-middle">{{ product.name }}</td>
            <td class="align-middle">{{ product.shortDescription }}</td>
            <td class="align-middle">{{ product.amount }}</td>
            <td class="align-middle">{{ product.fullPrice().toFixed(2) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="float-right">
    $<span style="color:green">{{ shop.getCartPrice().toFixed(2) }}</span>
    <button class="btn btn-success ml-5">BUY</button>
  </div>
</div>
